{% extends "base.html" %}

{% block title %}Detalhes Idioma{% endblock %}

{% block content %}
    <h1>{{ subject.name }}</h1>
    <p>Nome: {{ subject.name }}</p>
    <p>Código: {{ subject.code }}</p>
    <p>Tipo: {{ subject.get_subject_type }}</p>
    <p></p>
    <h2>Avaliações</h2>
    <p></p>
    <table style="width:100%">
        <tr>
            <td>{{ student }}</td>
            {% for grade in student.grade_set.all %}
                {% if grade.subject.pk == subject.pk %}
                    <td>{{ grade }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
{% endblock %}
