{% extends "base.html" %}

{% block title %}Detalhes de idiomas{% endblock %}

{% block content %}
    <h1><a href="{% url "subject_edit" subject.id %}">{{ subject.name }}</a></h1>
    <p>Nome: {{ subject.name }}</p>
    <p>Código: {{ subject.code }}</p>
    <p>Tipo: {{ subject.get_subject_type }}</p>
    <p></p>
    <h2>Professores</h2>
    {% for professor in subject.professors.all %}
        <p><a href="{% url "professor_detail" professor.pk %}">{{ professor }}</a></p>
    {% endfor %}
    <h2>Turmas</h2>
    {% for career in subject.career_set.all %}
        <p><a href="{% url "career_detail" career.id %}">{{ career.name }}</a></p>
    {% endfor %}
{% endblock %}
